body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 1px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 3fr 1fr;
    height: 100%;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
}

header {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.logga { 
    text-align: left
}

nav {
    display: flex;
    justify-content: center;
    background: #4444448f;
    
    padding: 10px;
    position: sticky; top: 0;

}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    
}

main{
grid-area: main;
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin: left 200px; ;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    min-width: 250px;
    margin-bottom: 20px; 
}

.product-img {
    width: 100px;
    border-radius: 10px;
}

.product-title {
    font-size: 24px;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.buy-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.buy-button:hover {
    background-color: #218838;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    grid-area: footer;
    
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;

}

.footer-section {
    width: 30%;
    min-width: 250px;
    padding: 10px;
}

.footer-section h3 {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
